<div class="w-full max-w-screen-sm mx-auto pt-36">
    <form action="" method="post" class="p-5 rounded-3xl bg-white text-black">
        <h1 class="font-bold text-2xl text-center">Login</h1>
        <label for="username">
            <p>Username</p>
            <input type="text" id="username" name="username" placeholder="Username" class="w-full px-5 py-2 border rounded-3xl" required>
        </label>
        <label for="password">
            <p>Password</p>
            <input type="password" id="password" name="password" placeholder="Username" class="w-full px-5 py-2 border rounded-3xl" required>
        </label>
        <div id="test"></div>
        <button hx-post="/login" hx-swap="outerHTML" hx-target="#test" class="mt-5 w-full px-5 py-2 bg-blue-500 rounded-3xl text-white font-bold">Login</button>
    </form>
</div>