<div class="w-full max-w-screen-xl mx-auto p-8">
    <a href="/" class="flex items-center gap-2">
        <iconify-icon icon="si:chevron-left-circle-fill" width="24" height="24"></iconify-icon>
        <p>Kembali</p>
    </a>
    <div class="grid grid-cols-2 gap-4">

        <form class="p-8 rounded-2xl bg-slate-200 mt-5 h-max">
            <h1 class="font-semibold text-2xl text-center mb-5">Detail/Edit Menu</h1>
            <label for="slug">
                <p class="font-semibold">Kode</p>
                <input id="slug" name="slug" type="text" value="{{ .menu.Slug }}"
                placeholder="Masukkan kode huruf kecil tanpa spasi" class="w-full border border-blue-900 px-5 py-2 rounded-2xl" required>
            </label>
            <label for="header">
                <p class="font-semibold">Header / Title</p>
                <input id="header" name="header" type="text" value="{{ .menu.Header }}"
                placeholder="Masukkan Header/Title/Judul" class="w-full border border-blue-900 px-5 py-2 rounded-2xl" required>
            </label>
            <label for="content">
                <p class="font-semibold">Content</p>
                <textarea name="content" id="content" rows="5"
                placeholder="Masukkan konten" class="w-full border border-blue-900 px-5 py-2 rounded-2xl">{{ .menu.Content }}</textarea>
            </label>
            <label for="footer">
                <p class="font-semibold">Footer</p>
                <textarea name="footer" id="footer" rows="5"
                placeholder="Masukkan footer/penutup" class="w-full border border-blue-900 px-5 py-2 rounded-2xl">{{ .menu.Footer }}</textarea>
            </label>
    
            <div id="message"></div>
            <div class="flex items-center gap-2 mt-5">
                <button hx-put="/menu/{{ .menu.ID }}" hx-target="#message" class="px-5 py-2 rounded-2xl w-full bg-blue-500 font-semibold text-white">Save</button>
                <button type="reset" hx-delete="/menu/{{ .menu.ID }}" hx-target="#message" class="px-5 py-2 rounded-2xl w-max bg-red-500 text-white">
                    <iconify-icon icon="material-symbols:delete" width="16" height="16"></iconify-icon>
                </button>
            </div>
        </form>
    
        <div class="p-8 rounded-2xl bg-slate-200 mt-5 h-max">
            <h1 class="font-semibold text-2xl text-center mb-5">Opsi/Sub Menu</h1>
            <div class="space-y-2">
                {{ $length := len .menu.Options }}
                {{ range $i, $option := .menu.Options }}
                    <div class="flex items-center gap-2 px-5 py-2 w-full rounded-2xl bg-black/10">
                        <div>
                            <input name="position" hx-target="#position_message" hx-trigger="change" hx-put="/menu/{{ $option.MenuID }}/submenu/position" hx-vals='{"sub_menu_id": {{ $option.SubMenu.ID }}, "option_id": {{ $option.ID }} }' type="number" value="{{ $option.Position }}" placeholder="1" required min="1" class="w-18 text-center">
                        </div>
                        <div class="w-full">
                            <h1 class="font-semibold text-sm">{{ $option.SubMenu.Slug }}</h1>
                            <p class="text-xs">{{ $option.SubMenu.Header }}</p>
                        </div>
                        <button hx-delete="/menu/{{ $option.MenuID }}/submenu" hx-vals='{"sub_menu_id": {{ $option.SubMenu.ID }} }' class="px-5 py-2 rounded-2xl w-max bg-red-500 text-white">
                            <iconify-icon icon="material-symbols:delete" width="16" height="16"></iconify-icon>
                        </button>
                    </div>
                {{ end }}
            </div>
            <div id="position_message"></div>
            <form class="px-5 py-2 border border-blue-900 rounded-2xl mt-5">
                <div class="flex items-center gap-2">
                    <input name="position" type="number" placeholder="1" required min="1" class="w-18 text-center">
                    <select name="sub_menu_id" id="sub_menu_id" class="w-full px-5 py-2 outline-none">
                        {{ range $menu := .menus }}
                            <option value="{{ $menu.ID }}">{{ $menu.Slug }} - {{ $menu.Header }}</option>
                        {{ end }}
                    </select>
                </div>
                <div id="sub_menu_message"></div>
                <button hx-post="/menu/{{ .menu.ID }}/submenu" hx-target="#sub_menu_message" class="mt-5 px-5 py-2 rounded-2xl w-full bg-blue-200 font-semibold text-blue-500">Tambah Opsi/Sub Menu</button>
            </form>
        </div>
    </div>
</div>
