<div class="bg-blue-900 py-5 text-white px-8">
    <div
        class="flex justify-between w-full max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto items-center">
        <a href="/" class="flex items-center gap-2">
            <img src="/assets/logo.png" alt="" class="w-16" />
            <span class="font-semibold text-xl">BNN Chatbot</span>
        </a>
        <button hx-post="/logout" class="text-red-100 underline cursor-pointer">Keluar WhatsApp</button>
    </div>
</div>