<div class="p-8">
    <!-- Title -->
    <div>
        <h1 class="font-semibold text-xl">Dashboard</h1>
        <p>Halaman admin BNN Chatbot DIY</p>
    </div>
    <!-- End Title -->

    <!-- QRCode -->
    {{ if .waID }}
        <p>WhatsApp {{ .waID }}</p>
        <button hx-post="/logout" class="text-red-500 underline cursor-pointer">Keluar WhatsApp</button>
    {{ else }}
        <h2 class="font-semibold">WhatsApp belum tersambung</h2>
        <p>Scan QR Code WhatsApp dibawah ini untuk masuk ke nomor WhatsApp</p>
        <a href="/" class="block px-3 py-1 rounded-2xl bg-green-500 w-max cursor-pointer">Sudah Login? Klik untuk refresh</a>
        <div hx-get="/qrcode" hx-trigger="load"></div>
    {{ end }}
    <!-- End QRCode -->

    <!-- Daftar Menu -->
    <div class="mt-5 p-5 bg-slate-100">
        <h2>Pilih Menu Dibawah Ini</h2>
        <div class="flex items-center gap-2">
            <button hx-target="#displayHere" hx-trigger="load, click" hx-get="/help_part" class="px-5 py-2 bg-red-500 text-white">Daftar Bantuan Belum Dibaca</button>
            <button hx-target="#displayHere" hx-trigger="click" hx-get="/menu_part" class="px-5 py-2 bg-blue-500 text-white">Daftar Opsi Menu</button>
        </div>
        <div id="displayHere" class="mt-5">
            <p>Loading...</p>
        </div>
    </div> 
    <!-- End Daftar Menu -->
</div>