<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
    {{ range $menu := .menus }}
        <div class="px-5 py-2 rounded-2xl bg-black/5 relative">
            <div class="absolute top-2 right-2">
                <a href="/menu/{{ $menu.ID }}" class="text-yellow-500">
                    <iconify-icon icon="fa-solid:edit" width="18" height="18"></iconify-icon>
                </a>
            </div>
            <h1 class="font-semibold text-sm text-black/70">{{ $menu.Slug }}</h1>
            <p class="truncate font-semibold">{{ $menu.Header }}</p>
            <p class="truncate">{{ $menu.Content }}</p>
        </div>
    {{ end }}
</div>