<div class="bg-slate-900 text-white pt-8 pb-48 px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 w-full max-w-screen-xl mx-auto">
      <div class="flex flex-col items-center">
        <img src="/assets/logo.png" alt="" class="w-32" />
        <h2>
          <span class="text-blue-200">BNN Chatbot</a> Admin Website
        </h2>
        <h1 class="font-medium">
          2025
        </h1>
      </div>
      <div class="mx-auto text-center md:text-left">
        <p class="max-w-xl text-xs">
          BNN Chatbot dibuat oleh mahasiswa magang Informatika <a href="https://uty.ac.id" target="_blank" class="text-blue-200">Universitas Teknologi Yogyakarta</a>
        </p>
        <h1 class="font-medium text-xl mb-2 mt-5">Links</h1>
        <div class="flex gap-5 items-center justify-center md:justify-start">
          <div class="flex items-center gap-2">
            <iconify-icon icon="mdi:github" width="24" height="24"></iconify-icon>
            <a
              href="https://github.com/agilistikmal"
              class="text-blue-200"
              target="_blank"
              >GitHub @agilistikmal</a
            >
          </div>
          <div class="flex items-center gap-2">
            <iconify-icon icon="mdi:web" width="24" height="24"></iconify-icon>
            <a href="https://yogyakarta.bnn.go.id" class="text-blue-200" target="_blank">Web BNNP DIY</a>
          </div>
        </div>
      </div>
    </div>
  </div>