<div class="w-full max-w-screen-sm mx-auto p-8">
    <a href="/" class="flex items-center gap-2">
        <iconify-icon icon="si:chevron-left-circle-fill" width="24" height="24"></iconify-icon>
        <p>Kembali</p>
    </a>
    <form class="p-8 rounded-2xl bg-slate-200 mt-5">
        <h1 class="font-semibold text-2xl text-center mb-5">Tambah Menu</h1>
        <label for="slug">
            <p class="font-semibold">Kode</p>
            <input id="slug" name="slug" type="text"
            placeholder="Masukkan kode huruf kecil tanpa spasi" class="w-full border border-blue-900 px-5 py-2 rounded-2xl" required>
        </label>
        <label for="header">
            <p class="font-semibold">Header / Title</p>
            <input id="header" name="header" type="text"
            placeholder="Masukkan Header/Title/Judul" class="w-full border border-blue-900 px-5 py-2 rounded-2xl" required>
        </label>
        <label for="content">
            <p class="font-semibold">Content</p>
            <textarea name="content" id="content" rows="5"
            placeholder="Masukkan konten" class="w-full border border-blue-900 px-5 py-2 rounded-2xl"></textarea>
        </label>
        <label for="footer">
            <p class="font-semibold">Footer</p>
            <textarea name="footer" id="footer" rows="5"
            placeholder="Masukkan footer/penutup" class="w-full border border-blue-900 px-5 py-2 rounded-2xl"></textarea>
        </label>

        <div id="message"></div>
        <div class="flex items-center gap-2 mt-5">
            <button hx-post="/menu/add" hx-target="#message" class="px-5 py-2 rounded-2xl w-full bg-blue-500 font-semibold text-white">Add</button>
        </div>
    </form>
</div>
